* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  /* primary */
  --red-100:#ff504d;
  --red-200:#BA3537;
  --red-300:#a80003;
  
  --purple-100:#d489ff;
  --purple-200:#7700ff;
  --purple-300:#48008b;

  --green-100:#89ff79;
  --green-200:#58d439;
  --green-300:#0d9b00;

  /* secondary */
  --darkgrey-100:#505050;
  --darkgrey-200:#414141;
  --darkgrey-300:#363636;

  --grey-100:#9e9e9e;
  --grey-200:#707070;
  --grey-300:#484848;

  --white:#FFFFFF;

  --black:#000000;

}

html {
  scroll-behavior: smooth;

}
@media (max-width: 1024px) {
  .html {font-size: 93.75%;}
}

@media (max-width: 768px) {
  html{font-size: 87.5%;}
}

body {
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
select,
button {
  line-height: 1.2;
  font: 400 1rem 'Roboto', sans-serif;
}

body{
  max-width: 1366px;
  margin: 0 auto;
}


h1,
h2,
h3,
h4,
h5,
h6,
strong {
  line-height: 1.4;
  font: 700 1rem 'Roboto',sans-serif;
}

button {
  cursor: pointer;

  &:disabled {
    filter: brightness(0.7);
    cursor: not-allowed;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}