@charset "UTF-8";

::-webkit-scrollbar {
    width: 0;
}

.hidden {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}

/* Reservation Card */

body {
    background-color: #fff;
}

img {
    display: flex;
}

.container {
    width: 100%;
    height: 750px;
    background-image: url('../images/airplane.png');
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    max-width: 40px;
    transition: all 0.3s ease-in-out;
}

.nav-logo:hover {
    transform: scale(1.1);
}

.nav-links {
    display: flex;
    gap: 3rem;
}

.nav-links a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #ffff;
}

.nav-links a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: var(--red-100);
    transition: all 0.3s ease;
}

.nav-links a:hover::after {
    width: 80%;
}

.reservation-card {
    width: fit-content;
    max-width: 400px;
    background-color: #fff;

    padding: 1.5rem;
    margin: 3rem 5rem;
    
    border-radius: 5px;
    box-shadow: 2px 1px 4px #0000002c;
}

.reservation-card h1 {
    font-weight: 500;
    font-size: 2rem;
}

input {
    border: 1px solid #acacac73;
    color: var(--black);
}

input::placeholder {
    color: var(--grey-100);
}

label {
    width: fit-content;
}

.partout-container {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    padding-top: 0.8rem;

    font-size: 0.9rem;
    font-weight: 700;
    
}

.partout-container input {
    padding: 0.6rem;
}

.arriveeAndDepart-container {
    display: flex;
    justify-content: space-between;
    padding-top: 0.8rem;
    
    font-size: 0.9rem;
    font-weight: 700;
}

.arriveeAndDepart-container input {
    padding: 0.6rem;
    color: var(--grey-100);
}

.arrivee-container {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.depart-container {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.voyageurs-container {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    font-size: 0.9rem;
    font-weight: 700;
    padding: 0.8rem 0 3rem;
}

.voyageurs-container input {
    padding: 0.6rem;
}

.button-container {
    display: flex;
    justify-content: right;
}

.button-rechercher {
    cursor: pointer;
    padding: 0.8rem;
    background-color: var(--red-100);
    color: var(--white);

    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.button-rechercher:hover {
    background-color: var(--red-200);
    border-color: #9c9c9cc0;
}

/* Explorer Airbnb */


.explorerAirbnb-container {
    display: flex;
    flex-direction: column;
    padding: 4rem;
}

.explorerAirbnb-container h2 {
    font-size: 1.3rem;
    padding-bottom: 1.5rem;

    color: var(--grey-300)
}

.explorers-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    color: var(--grey-300);
}

.logements a {
    display: flex;
    align-items: center;
    padding: 1rem 0 1rem 0;
    border-radius: 7px 0 0 7px;
}

.logements img {
    border-radius: 7px 0 0 7px;
}

.logements p {
    padding: 0 1.5rem 0 1.5rem;
    font-weight: 600;
    font-size: 1rem;
}

.logements {
    transition: all 0.4s ease-in-out;
}

.logements:hover {
    transform: scale(1.05);
}

.experiences {
    transition: all 0.4s ease-in-out;
}

.experiences:hover {
    transform: scale(1.05);
}

.experiences a {
    display: flex;
    align-items: center;
    padding: 1rem 0 1rem 0;
    border-radius: 7px 0 0 7px;
}

.experiences img {
    border-radius: 7px 0 0 7px;
}

.experiences p {
    padding: 0 1.5rem 0 1.5rem;
    font-weight: 600;
    font-size: 1rem;
}

.aventures {
    transition: all 0.4s ease-in-out;
}

.aventures:hover {
    transform: scale(1.05);
}

.aventures a {
    display: flex;
    align-items: center;
    padding: 1rem 0 1rem 0;
    border-radius: 7px 0 0 7px;
}

.aventures img {
    border-radius: 7px 0 0 7px;
}

.aventures p {
    padding: 0 1.5rem 0 1.5rem;
    font-weight: 600;
    font-size: 1rem;
}

/* Hergements Airbnb */

.hebergementsAirbnb-container {
    padding: 1rem 4rem 1rem 4rem;
}

.hebergementsAirbnb-container h2 {
    font-size: 1.3rem;
    padding-bottom: 1rem;

    color: var(--grey-300);
}

.hebergementsAirbnb-container p {
    color: var(--grey-200);
    padding-bottom: 1.5rem;
}

.hebergements-image{
    background-image: url('../images/hebergements.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.hebergements-image .logoAndButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5rem;
}

.hebergements-image .logoAndButton img {
    min-width: 124px;
}

.hebergements-image .button-decouvrir-container {
    padding-top: 2rem;
}

.hebergements-image .logoAndButton button {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.9rem;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px #00000073;

    font-size: 0.8rem;

    transition: all 0.3s ease-in-out;
}

.hebergements-image .logoAndButton button:hover {
    background-color: var(--grey-100);
}

